html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: antiquewhite;
}

/* Your CSS Code Here! */

ul {

}


header {

}


/* about me*/
body {

}

footer {

}