html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: antiquewhite;
}

/* Your CSS Code Here! */

nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    margin: 20px;
}

ul {

    list-style: none;

}


header {
    background-color: brown;


}


/* about me*/
body {

}

footer {

}